/* Global CSS variables */
:root {
    --spacing-company: 2rem;
    /*--font-weight: 400;*/
    --border-radius: 0;
  }
  
  /* Typography */
  h2,
  h3,
  h4,
  h5,
  hgroup> :last-child {
    font-weight: 200;
    color: var(--primary);
  }
  
  small {
    color: var(--muted-color);
  }
  
  /* Header */
  .hero {
    background-position: center;
    background-size: cover;
  }

  .my-title {
    color: var(--primary);
  }

  header {
    padding: var(--spacing-company) 0;
  }

  .header-line {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  
  header hgroup> :last-child {
    color: var(--h3-color);
  }
  
  header hgroup {
    margin-bottom: var(--spacing-company);
  }
  
  /* Nav */
  summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
    background-color: transparent;
    color: var(--contrast-hover);
  }

  .sub-head{
    color: var(--primary);
  }