body {
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: monospace;
    text-align: left;
    font-size: large;
    color: #e7e7e8;
    background-color: #080f11;
}

header {
    border: 1px solid #f5cf65;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin-bottom: 1vh;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    justify-content: space-around;
    box-sizing: border-box;
    text-align: center;
    width: 30%;
    vertical-align: middle

}

.menu-home {
    display: flex;
    align-items: center;
    vertical-align: middle
}

.menu-about {
    display: flex;
    align-items: center;
    vertical-align: middle
}

.menu-projects {
    display: flex;
    align-items: center;
    vertical-align: middle
}

.menu-contact {
    display: flex;
    align-items: center;
    vertical-align: middle
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: rgb(72 213 151)
}

a:visited {
    color: rgb(72 213 151)
}
  
a:focus {
    color: rgb(72 213 151)
}
  
a:hover {
    color: rgb(72 213 151)
}
  
a:active {
    color: rgb(72 213 151)
}

main {
    display:flex;
    flex-direction:column;
    text-align: center;
}

.email {
    color:rgb(72 213 151);
}

